/* Add here all your CSS customizations */
a.dropdown-item {
    color:red;
}
li.main-nav>a.active:hover {
    color: white;
}
li.main-nav>a.active:hover:before {
    background:white;
}
li.main-nav>a:not(.active):hover {
    color: white;
}
li.main-nav>a:not(.active):hover:before {
    background:white;
}
html.sticky-header-active div.header-body:before {
    background:#0088cc !important;
    opacity: 0  !important;
}
.header-nav-main nav > ul > li > a.active {
    color: white;
}
.section-first-home{
    margin-top:71px !important;
    position: relative;
    background-image: url(/img/golden-gate.jpg) !important;
    opacity: 1;
    background-size: cover !important;
    background-position: 10% 40% !important;
    background-repeat: no-repeat;
    border-top:0px !important;
    padding:150px 0px !important;
    margin-bottom:0px !important;
}
.cover-overlay {
    opacity:0.9;
    background: #0088cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
html #header.header-semi-transparent .header-body, html #header.header-semi-transparent-light .header-body {
    background:#0088cc;
}
html .call-to-action.call-to-action-primary {
    background: #0088cc;
}
.section.section-primary {
    background: #0088cc !important;
    border-top: 4px solid #016496 !important;
}
.btn-hp {
border-radius:5px;
}
.btn-primary {
    background: #0088cc !important;
}
.cover-overlay-2 {
    opacity:0.8;
    background: #0088cc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section.section-custom-1 {
    margin: 0px !important;
}
.sub-rotate-services {
    font: inherit;
    color:inherit;
    margin-right:12px;
}
.color-custom-word {
    background-color:#0088cc;
}
.custom-color-exoid {
    background-color: #e36159 !important;
	border-color: #df4c43 !important;
}
.custom-color-blue {
    background-color: #0088cc !important;
	border-color: #0077b3 !important;
}
.margin-top-sm {
    margin-top:8px;
}
section.section-box-custom {
    width:80%;  
    margin:0 auto;
}